.deps
*.gmo
Makefile
Makefile.in
Makefile.in.in
*.o
*.a
*~
intltool-*in
INSTALL
aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
install-sh
missing
mkinstalldirs
stamp-h1
stamp-it
POTFILES
data/contacts.desktop
libtool
ltmain.sh
po/.intltool-merge-cache
src/contacts
src/contacts-dbus-glue.h
