[Desktop Entry]
Encoding=UTF-8
Name=Contacts
Name[et]=Kontaktid
Comment=Address book
Comment[et]=Aadressiraamat
Exec=contacts
Icon=oh-contacts
Terminal=false
Type=Application
Categories=GTK;Application;PIM;Office;ContactManagement;
MimeType=text/x-vcard;
SingleInstance=true
StartupNotify=true
